<?xml version="1.0"?>
<launch>

  <arg name="OPENVR"  value="$(env HOME)/openvr"/>
  <arg name="STEAM"   value="$(env HOME)/.local/share/Steam"/>
  <arg name="STEAMVR" value="$(arg STEAM)/steamapps/common/SteamVR"/>

  <env name="OPENVR"  value="$(arg OPENVR)"/>
  <env name="STEAM"   value="$(arg STEAM)"/>
  <env name="STEAMVR" value="$(arg STEAMVR)"/>
  <env name="LD_LIBRARY_PATH" value="$(env LD_LIBRARY_PATH):/usr/lib/:/usr/lib32/:$(arg OPENVR)/lib/linux32/:$(arg OPENVR)/lib/linux64/:$(arg STEAM)/ubuntu12_32/steam-runtime/i386/usr/lib/i386-linux-gnu/:$(arg STEAM)/ubuntu12_32/steam-runtime/amd64/usr/lib/x86_64-linux-gnu/:$(arg STEAM)/ubuntu12_32/steam-runtime/amd64/lib/x86_64-linux-gnu/:$(arg STEAM)/ubuntu12_32/steam-runtime/i386/lib/i386-linux-gnu/:$(arg STEAMVR)/bin/linux32/:$(arg STEAMVR)/bin/linux64/:$(arg STEAMVR)/drivers/lighthouse/bin/linux32/:$(arg STEAMVR)/drivers/lighthouse/bin/linux64/"/>

	
  <arg name="MODE_MULTISENSE" 				default="false"/>

  <arg name="IMAGE"   		default="/usb_cam/image_raw"/>

  <arg if=		"$(arg MODE_MULTISENSE)" name="IMAGE_LEFT" 	default="/multisense_local/left/image_rect" />
  <arg unless="$(arg MODE_MULTISENSE)" name="IMAGE_LEFT"	default="/usb_cam/image_raw" />
  <arg if=		"$(arg MODE_MULTISENSE)" name="IMAGE_RIGHT" default="/multisense_local/right/image_rect" />
  <arg unless="$(arg MODE_MULTISENSE)" name="IMAGE_RIGHT" default="/usb_cam/image_raw" />
  <arg if=		"$(arg MODE_MULTISENSE)" name="MODE" default="multisense" />
  <arg unless="$(arg MODE_MULTISENSE)" name="MODE" default="normal" />



  <node name="vive_image_view_node" pkg="vive_image_view" type="vive_image_view_node" args="image:=$(arg IMAGE) _image_left:=$(arg IMAGE_LEFT) _image_right:=$(arg IMAGE_RIGHT) _mode:=$(arg MODE)" output="screen" required="true"/>
</launch>
