<?xml version="1.0"?>
<launch>
  <env name="OPENVR" value="$(env HOME)/openvr"/>
  <env name="STEAM" value="$(env HOME)/.local/share/Steam"/>
  <env name="STEAMVR" value="$(env HOME)/.local/share/Steam/steamapps/common/SteamVR"/>
  <env name="LD_LIBRARY_PATH" value="$(env LD_LIBRARY_PATH):$(env HOME)/openvr/lib/linux64:$(env HOME)/.local/share/Steam/ubuntu12_32/steam-runtime/amd64/lib/x86_64-linux-gnu:$(env HOME)/.local/share/Steam/steamapps/common/SteamVR/bin/linux64:$(env HOME)/.local/share/Steam/steamapps/common/SteamVR/drivers/lighthouse/bin/linux64"/>


  <include file="$(find vive_ros)/launch/vive.launch"/>

  <node name="vive_image_view_node" pkg="vive_image_view" type="vive_image_view_node" args="-cubevolume 20" output="screen" required="true"/>

</launch>
